<tr class='<%= cycle("odd", "") %>' id='<%= dom_id(product) %>'>
  <td class='name'><%= product.name %></td>
  <td class='description'><%= product.description %></td>
  <td class='picture'><%= image_tag(product.image_url) %></td>
  <td class='price'><%= number_to_currency(product.price) %></td>
  <td class='add_to_cart'>
    <%= button_to 'Add to Cart', line_items_path(product_id: product) %>
  </td>
</tr>
