<% current_item = line_item == @current_item ? 'current_item ' : ''%>
<tr class='<%= current_item %><%= cycle("odd", "") %>' id='<%= dom_id(line_item) %>'>
  <td class='name'>
    <%= line_item.product.name %>
  </td>
  <td class='quantity'>
    <%= line_item.quantity %>
  </td>
  <td class='price'>
    <%= number_to_currency(line_item.product.price) %>
  </td>
  <td class='total_price'>
    <%= number_to_currency(line_item.product.price * line_item.quantity) %>
  </td>
</tr>