<!DOCTYPE html>
<html>
<head>
  <title>DavinciShoppingCart</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller.controller_name %>">
    <div id="banner">
      <%= image_tag("davinci_shopping.png") %>
    </div>

    <div id="columns">
      <div id="side">
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Admin', products_path %></li>
        </ul>
      </div>

      <div id="main">

        <% flash.each do |key, value| %>
            <div class='flash' id='<%= key %>'>
              <%= value %>
            </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
</body>
</html>
